/* STYLING SIGN IN */
.body-sign-in{
    background-color: #d4c8be;
    margin:0px;
    padding:0px;
    height: 577px;
}

.container-signin-right{
    width: 360px;
    margin-left: 622px;
    margin-top: 80px;
    /* margin: auto; */
    height: 404px;
    border: 1px solid #d4c8be;
    border-radius: 19px;
    background-color: #ffffff;
    position: fixed;
}

.container-signin-left{
    width: 355px;
    margin-left: 288px;
    margin-top: 32px;
    /* margin: auto; */
    height: 404px;
    border: 1px solid #d4c8be;
    border-radius: 19px;
    background-color: #eae6df;
    position: fixed;
}

.form-sign-in .text{
    position:fixed;
    width: 97px;
    height: 30px;
    left: 766px;
    top: 130px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #000000;
}

.form-sign-in span{
    font-size: small;
    font-weight:500;
}

#email{
    position: absolute;
    width: 319px;
    height: 68px;
    left: 706px;
    top: 191px;
}

#password{
    position: absolute;
    width: 319px;
    height: 68px;
    left: 706px;
    top: 250px;
}

#regist {
    position: absolute;
    left: 722px;
    top: 433px;
}

/* STYLING SIGN UP */
.title-sign-up{
    position:fixed;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.02em;
    top: 120px;
    left: 546px;
    color: #000000;
}

.body-sign-up{
    background-color: #d4c8be;
    margin:0px;
    padding:0px;
    height: 577px;
}

.form-sign-up {
    position: fixed;
    font-size: 14px;
    font-style: bolder;
    left: 516px;
    top: 160px;
    width: 200px;
    height: 30px;
}

.form-sign-up .su-inputbox-2{
    position: fixed;
    left: 668px;
    top: 160px;
}

.container-sign-up{
    width: 485px;
    margin-left: 394px;
    margin-top: 81px;
    /* margin: auto; */
    height: 428px;
    border: none;
    border-radius: 19px;
    background-color: #ffffff;
    position: fixed;
}

#move-sign-in{
    position: fixed;
    left: 560px;
    top: 470px;
}

#sign-up{
    position: fixed;
    left: 585px;
    top: 400px;
}

/* Styling Invoice */
.body-invoice{
    background-color: #eae6df;
}

.container-invoice{
    width: 1123px;
    margin-left: 63px;
    margin-top: 22px;
    height: 89px;
    /* margin: auto; */
    height: 467px;
    border: none;
    border-radius: 5px;
    background-color: #d4c8be;
    position: static;
}

.container2-invoice{
    width: 1122px;
    margin-left: 64px;
    margin-top: -104px;
    height: 104px;
    border: none;
    border-radius: 5px;
    background-color: #b8926a;
    position: absolute;
}

.container-invoice h4{
    position: absolute;
    left: 114px;
    top: 97px;
    font-weight: bolder;
    font-size: 30px;
}

.container-invoice h5{
    position: absolute;
    left: 1003px;
    top: 105px;
}

.subtitle-top{
    position: absolute;
    left: 114px;
    top: 159px;
    font-size: 15px;
    font-weight: 500;
    line-height: 8px;
}

.subtitle-top-value{
    position: absolute;
    left: 235px;
    top: 159px;
    font-size: 15px;
    /* font-weight: 500; */
    line-height: 8px;
}

.subtitle-bottom{
    position: absolute;
    left: 841px;
    top: 24px;
    font-size: 15px;
    font-weight: 500;
    line-height: 8px;
}

.subtitle-bottom-value{
    position: absolute;
    left: 939px;
    top: 24px;
    font-size: 15px;
    line-height: 8px;
}

.table-invoice{
    position: absolute;
    left: 114px;
    top: 250px;
    font-size: 15px;
    font-weight: 500;
    line-height: 8px;
    column-width: 250px;
}
