@charset "utf-8";
body {
    background-color: #eae6df;
    margin:0px;
    padding:0px;
}
ul{
    list-style:none ;
}
a{
    text-decoration:none;
}
nav{
    display:flex;
    justify-content:space-between;
    height: 70px;
    padding:5px 5% 0% 5%;
    /* background-image: url(../UASHAHA/image/satu.png); */
}
nav ul{
    display:flex;
}
nav ul li a{
    padding:3px 3px;
    margin:15px;
    font-family:calibri;
    color:whitesmoke;
    font-size:20px;
    letter-spacing:1px;
}
nav ul li a:hover{
    background-color: #d4c8be;
    color: #555 !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.logo{
    height: 10px;
}
.nav-active{
    font-weight:550;
    color: whitesmoke;
}
.box-container{
    height:225px;
    align-items: center;
    text-align: center;
}
div.galleryshopnow{
    float: left;
    width: 421px;
}
div.galleryshopnow img{
    width: 100%;
    height: 225px;
    cursor:default;
}
  /* Category text */
  .category {
    color: #f2f2f2;
    font-size: 40px;
    padding: 0px 10px;
    top: 0;
    font-family: Poppins;
    text-align: right;
    transform: translateY(-375%);
    font-weight: 550;
}
/* Shop Now Button */
.shopnow-btn{
    transform: translateY(-350%);
    font-size: 20px;
    font-family: Poppins;
    background-color: #b8926a;
    border: none;
    color: #f2f2f2;
    width: 40%;
    cursor: pointer;
    letter-spacing: 1px;
}
.product{
    height:400px;
    align-items: center;
    text-align: center;
}
.product-text p:nth-child(1){
    font-family: Poppins;
    color:#3e3d3d;
    font-size: 20px;
    line-height: 0px;
    text-align: left;
    padding-left: 7%;
}
.product-text p:nth-child(2){
    font-family: Poppins;
    font-weight: 580;
    color:#3e3d3d;
    font-size: 35px;
    line-height: 0px;
    text-align: left;
    padding-left: 7%;
}
.product-text p:nth-child(3){
    font-family: Poppins;
    font-weight:510;
    color:#3e3d3d;
    font-size: 20px;
    line-height: 0px;
    padding-left: 60%;
    padding-bottom: 5%;
    cursor: pointer;
}
div.galleryproduct{
    float: left;
    width: 230px;
    margin-bottom: 5%;
    margin-left: 11%;
    border: 1px solid #b8926a;
    background-color: #d4c8be;
    border-radius:5%;
}
div.galleryproduct img{
    width: 100%;
    height: 225px;
}
* {
    box-sizing: border-box;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 180px; /* Should be removed. Only for demonstration */
    align-items: center;
    text-align: center;
    color: #f2f2f2;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.foto-container{
    align-items: center;
    text-align: center;
}
div.foto-foto{
    float: left;
    width: 571px;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-top: 5%;
    background-color: #d4c8be;
}
div.foto-foto img{
    width: 100%;
    height: 300px;
}

/* about us */

.bg{
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.desc{
    position: absolute;
    top: 350px;
    margin-left: 310px;
    margin-right: 30px;
    width: 50%;
    height: 50%;
    overflow: hidden;
    display: flex;
}
.box-abt{
    position: absolute;
    top: 700px;
    left: 0;
    width: 1550px;
    height: 750px;
    overflow: hidden;
    display: flex;
}
.box-team{
    position: absolute;
    top: 1500px;
    left: 0;
    width: 1350px;
    height: 650px;
    overflow: hidden;
    display: flex;
}
/* cart */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;

}

.container > h1{
    padding: 50px 0;
    font-weight: bold;
}

h5{
    position: absolute;
    bottom: 80px;
    right: 80px;
    padding: 20px;
    color: black;
    font-weight: bold;
}

th{
    font-size: 35px;
}

.card.td {
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.Product-remove{
    position: absolute;
    bottom: 85px;
    right: 20px;
    padding: 20px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border-color: #b8926a;
}
/* box cart */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    width: 1000px;
    /* background-color: #b8926a; */
    background-color: transparent;
    padding: 16px;
    border-radius: 14px;
    margin-bottom: 20px;
}


.card-action{
    position: absolute;
    bottom: 70px;
    right: 170px;
    padding: 20px;

}

.card-action .btn{
    font-size: 15px;
    font-weight: bold;
    background-color:#b8926a ;
    color: white;
    border: none;
    outline: none;
    padding: 15px 18px;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
    position: relative;
}

.card-action .btn:hover{
    transform: scale(1.1, 1.1);
}

.card-action .btn:active{
     transform: unset;
 }

.card-action .counter {
    width: 30px;
    text-align: 8px;
    padding: 8px;
}

.card-action .counter {
    width: 30px;
    text-align: center;
    padding: 3px;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: unset;
    font-size: 20px;
    color: black;
}

.total-price{
    flex: 0.25;
    margin-right: 170px;
    padding: 25px;
    height: 240px;
    border: 1px black;
    border-radius: 5px;
    font-weight: bold;
}

.total-price h6{
   position: relative;
    top: 30px;
    margin-right: 50px;
    font-size: 28px;
    text-align: right;
    color: red;
}

.total-price h7{
    /* margin-left: 450px;
    font-size: 22px;
    text-align: right; */
    position: relative;
    top: 40px;
    margin-left: 280px;
    font-weight: normal;
    font-size: 25px;
    text-align: left;

}
.total-price span{
    /* display: flex;  */
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 450px;
    font-weight: bold;
    font-size: 28px;
    text-align: right;

}

.total-price a{
    /* display: block; */
    text-align: center;
    height: 40px;
    background-color: #b8926a;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    position: relative;
    top: 30px;
    left: 300px;
}

.item2{
    margin-left: 650px;
    bottom: 50px;
    position: relative;
}
.item{
    margin-left: 100px;
    top: 100px;
}

/* bikin button di cart */
.btn-decor{
    outline: none;
    display: block;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 190px;
    background: #b8926a;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.btn-decor:hover,
.btn-decor:focus{
    background:#b8926a;
}
.btn-decor:active{
    background: #d4c8be;
}

.btn-decor-outline{
    outline: none;
    display: block;
    border: solid 1px #b8926a ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 16px 175px;
    background: transparent;
    color:#b8926a;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
}
.btn-decor-outline:hover,
.btn-decor-outline:focus{
    background:#b8926a;
    color: #ffffff;
}
.btn-decor-outline:active{
    background: #ffffff;
    color: #b8926a;
}
/* detail produk */
.detail-produk > h1{
    position: absolute;
    width: 610px;
    height: 122px;
    left: 619px;
    top: 222px;

    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.02em;
}
.detail-produk > h2{
    position: absolute;
    width: 123px;
    height: 18px;
    left: 619px;
    top: 362px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #2D2D2B;
}
.detail-produk >h3{
    position: absolute;
    width: 151px;
    height: 18px;
    left: 619px;
    top: 458px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2B;
}
.detail-produk >h4{
    position: absolute;
    width: 151px;
    height: 18px;
    left: 619px;
    top: 494px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2B;
}
.detail-produk >h11{
    position: absolute;
    width: 151px;
    height: 18px;
    left: 619px;
    top: 530px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2B;
}
.detail-produk >h6{
    position: absolute;
    width: 181px;
    height: 197px;
    left: 619px;
    top: 566px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2B;

}
.dp-isi >h7{
    position: absolute;
    width: 151px;
    height: 18px;
    left: 800px;
    top: 458px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2B;
}
.dp-isi >h8{
    position: absolute;
    width: 151px;
    height: 18px;
    left: 800px;
    top: 494px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2B;
}
.dp-isi >h9{
    position: absolute;
    width: 151px;
    height: 18px;
    left: 800px;
    top: 530px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2B;
}
.dp-isi >h10{
    position: absolute;
    width: 418.25px;
    height: 197px;
    left: 800px;
    top: 566px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;
    color: #2D2D2B;
}
.btn-action{
    position: absolute;
    top: 757px;
    left: 1080px;
    padding: 20px;
}

.btn-action .circle{
    font-size: 15px;
    font-weight: bold;
    background-color:#b8926a ;
    color: white;
    border: none;
    outline: none;
    padding: 15px 18px;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
    position: relative;
}

.btn-action .circle:hover{
    transform: scale(1.1, 1.1);
}

.btn-action .circle:active{
     transform: unset;
 }

.btn-action .number {
    width: 30px;
    text-align: 8px;
    padding: 8px;
}

.btn-action .number {
    width: 30px;
    text-align: center;
    padding: 3px;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: unset;
    font-size: 20px;
    color: black;
}
/* button add to cart + buy now */
.dp2{

    position: absolute;
    width: 292px;
    height: 60px;
    left: 957px;
    top: 877px;

}
.dp{
    position: absolute;
    width: 292px;
    height: 60px;
    left: 659px;
    top: 877px;

}

.btn-add{
    outline: none;
    display: block;
    border: 0;
    font-size: 18px;
    font-weight: 100;
    padding: 12px 75px;
    background: #b8926a;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.btn-add:hover,
.btn-add:focus{
    background:#b8926a;
}
.btn-add:active{
    background: #d4c8be;
}

.btn-buynow{
    outline: none;
    display: block;
    border: solid 1px #b8926a ;
    font-size: 18px;
    font-weight: 100;
    line-height: 1;
    padding: 15px 90px;
    background: transparent;
    color:#b8926a;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
}
.btn-buynow:hover,
.btn-buynow:focus{
    background:#b8926a;
    color: #ffffff;
}
.btn-buynow:active{
    background: #ffffff;
    color: #b8926a;
}
.box-dp{
    height:225px;
    align-items: center;
    text-align: center;
}
div.dp-foto-produk{
    position: absolute;
    width: 412px;
    height: 582px;
    left: 107px;
    top: 244px;
    background: #EAE5DF;
    border: 1px solid #B8926B;
    box-sizing: border-box;
    border-radius: 25px;
}
div.dp-foto-produk img{

    height: 355px;
    cursor:default;
    position: relative;
    width: 492px;
    height: 533px;
    right: 30px;
    top: 30px;

}

